.answers {
}
.answers__single-answer {
    font-size: 50px;
    border: 1px solid #CCC;
    margin: 10px 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px #fff;
    background-color: #fff;
    padding-top: 10px;
}
.answers__single-answer__border {
    height: 30px;
    width: 100%;
}

.color--choice1 {
    background-color: #65ADF5;
}
.color--choice2 {
    background-color: #F2FF42;
}
.color--choice3 {
    background-color: #FF5964;
}
.color--choice4 {
    background-color: #982649;
}


.correct {
    background-color: #4caf50;
    color: #fff;
}
